.switch-2 {
    height: 60px;
    line-height: 60px;
}

.toggle-switch-container {
	position: relative;
	width: 80px;
	height: 50px;
	cursor: pointer;
    
}
.toggle-switch {
	width: 80px;
	height: 40px;
	border-radius: 60px;
	background: #cecece;
	box-shadow: inset 0px 0px 5px rgba(0,0,0,0.6);
}
.toggle-switch-container[value="1"] .toggle-switch {
	background: #f79906;
}
.toggle-switch-container[value="0"] .toggle-switch {
	background: #025796;
}

.toggle-switch-container[value="1"] .toggle-btn {
	left: 42px;
}
.toggle-switch-container[value="0"] .toggle-btn {
	left: 2px;
}
.toggle-switch-container[value="1"] ~ .switch-option-right {
    color: #f79906;
    font-weight: bold;
}
.val-0 {
    color: #0f376a;
}
.animate-bg {
	transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
}
.animate-btn {
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
}
.toggle-btn {
	width: 36px;
	height:36px;
	background: #fff;
	border-radius: 60px;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.6);
	position:absolute;
	/*top: 12px;*/
	top: 7px;
	left: 22px;
}

.switch-option-left,
.switch-option-right,
.toggle-switch-container {
    display: table-cell;
    vertical-align: middle
}

.switch-option-left {
    padding: 0 15px 0 0;
	font-size: 12px;
}

.switch-option-right {
	padding: 0 0 0 15px;
	font-size: 12px;
}